// Adapted from https://github.com/stackblitz/docs/blob/main/.vitepress/theme/styles/content.scss

// --------------------------------
// -- Content

// Content body styles
.main > .vp-doc {
  p,
  li {
    font-size: 15px;
    line-height: 1.8;
  }

  p {
    margin: 24px 0;
  }

  p a {
    display: inline-block;
  }

  p > img,
  > div > img {
    margin: 40px 0;
    border-radius: 6px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: max-content;
    max-width: 100%;
  }

  h1 {
    margin-bottom: 24px;
  }

  h2 {
    margin: 44px 0 24px;
    padding-top: 0px;
    border-color: transparent;
  }

  h3 {
    margin-top: 40px;
  }

  h1 + p,
  h2 + p {
    margin-top: 0;
  }

  p > strong > a,
  p > a,
  li > strong > a,
  li > a,
  td > strong > a,
  td > a {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    transition: 0.1s ease;
    transition-property: color, text-underline-offset;
    :root.dark & {
      color: rgb(180, 204, 255);
    }
    &:hover,
    :root.dark &:hover {
      color: var(--vp-c-text-1);
      text-decoration-thickness: 1px;
      text-underline-offset: 4px;
    }
  }

  td,
  th {
    font-size: 14px;
    line-height: 1.5;
    &.no-break {
      white-space: nowrap;
    }
  }

  summary {
    cursor: default;
  }

  img {
    margin: 8px 0;
  }

  figure {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  figcaption {
    padding: 0.75rem 1.25rem;
    font-size: 87%;
    border-radius: 8px;
    background-color: var(--vp-c-bg-soft);
  }

  var {
    font-family: var(--vp-font-family-mono);
    font-weight: inherit;
    font-style: inherit;
    small {
      padding-inline: 0.4ch;
      font-weight: normal;
      font-size: 90%;
      color: var(--vp-c-text-2);
    }
  }

  div[class*='language-'] {
    margin: 32px 0 40px;
    border: 1px solid var(--vp-c-brand-lighter);

    :root.dark & {
      border-color: transparent;
    }
  }

  [class*='language-'] pre,
  [class*='language-'] code {
    white-space: pre-wrap;
    // break contiguous strings if there was no break opportunity (e.g. whitespace, hyphens or slashes)
    word-break: break-word;
  }

  // Smaller header anchors
  .header-anchor {
    transform: scale(0.9);
  }
}

// Style specific pages
.main > .vp-doc {
  // Make header on the guide index page smaller as the package name is long
  &._guide_ {
    h1 {
      font-size: 24px;
    }
  }
}

// Custom Blocks
.main > .vp-doc .custom-block {
  margin: 48px 0;
  padding: 28px 28px 28px 32px;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 0 1px 1px var(--block-border-color);

  p {
    margin: 2px 0 0;
    font-size: 14px;

    &.custom-block-title {
      position: relative;
      margin-bottom: 8px;
    }

    + p {
      margin-top: 8px;
    }
  }

  ol,
  ul,
  p:not(.custom-block-title) {
    color: var(--vp-c-text-1);
  }

  ol,
  ul {
    margin: 12px 0;
  }

  ul {
    margin-bottom: 0;
  }

  a {
    transition-duration: 0.1s;
  }

  div[class*='language-'] {
    margin: 24px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  summary {
    position: relative;
    margin: 0;
    &::marker {
      content: '▷\a0\a0\a0';
    }
  }

  // Custom block border and icon colors based on block type
  &.info {
    --block-border-color: var(--vp-custom-block-info-border);
    --block-icon-color: var(--vp-custom-block-info-text);
  }
  &.tip {
    --block-border-color: var(--vp-custom-block-tip-border);
    --block-icon-color: var(--vp-custom-block-tip-text);
  }
  &.warning {
    --block-border-color: var(--vp-custom-block-warning-border);
    --block-icon-color: var(--vp-custom-block-warning-text);
  }
  &.danger {
    --block-border-color: var(--vp-custom-block-danger-border);
    --block-icon-color: var(--vp-custom-block-danger-text);
  }
  &.details {
    --block-border-color: var(--vp-custom-block-details-border);
    --block-icon-color: var(--vp-custom-block-details-text);
  }

  &:not(.details) p.custom-block-title::before,
  &:not(.details) summary::before {
    content: '';
    position: absolute;
    top: 0;
    left: -32px;
    width: 12px;
    height: 24px;
    border-end-end-radius: 50%;
    border-start-end-radius: 50%;
    background-color: var(--block-icon-color);
    -webkit-mask-image: var(--block-icon-url);
    mask-image: var(--block-icon-url);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  &[open] summary::marker {
    content: '▽\a0\a0\a0';
  }
}

// Code Group styles
.main > .vp-code-group .tabs label {
  font-size: 13px;
  font-weight: 600;
}

// --------------------------------
// -- Aside / Table of Contents

.VPDocAside {
  // Add gap between title and list, but account for hardcoded `outline-marker` `top`
  .outline-title {
    margin-block-end: -1px;
    transform: translateY(-6px);
  }

  // Space out links without affecting `outline-marker` too much
  .outline-link {
    padding: 6px 0;
    font-size: 12.5px;
    transition-duration: 0.1s;
  }
}

// Don't clip text in the outline
.VPDocAsideOutline .outline-link {
  white-space: normal;
  text-overflow: initial;
  padding: 5px 0;
  font-size: 13px;
  line-height: 18px;
}

// --------------------------------
// Footer / Above Footer

.VPDocFooter {
  .edit-info {
    font-size: 13px;
    gap: 4px;
    margin-top: 20px;
    padding-bottom: 24px;

    svg {
      transform: scale(0.92);
    }

    .VPLink.link.edit-link-button {
      color: var(--vp-c-text-2);

      &:hover {
        color: var(--vp-c-brand);
      }
    }
  }

  .pager .pager-link {
    background-color: var(--vp-c-bg-alt);

    .title {
      :root:not(.dark) & {
        color: var(--vp-c-brand-dark);
      }

      :root.dark & {
        color: var(--vp-c-brand-light);
      }
    }
  }
}

// Small screens
@media (max-width: $bp-small) {
  // Fix custom blocks on small screens
  .main > .vp-doc .custom-block {
    padding-left: 18px;
    padding-right: 18px;

    p.custom-block-title {
      margin-bottom: 14px;
    }

    &:not(.details) p.custom-block-title::before,
    &:not(.details) summary::before {
      left: -18px;
    }
  }
}

// Medium Screens
@media (min-width: $bp-medium) {
  .main > .vp-doc {
    // Revert font-size decrease on smaller screens
    &._guide_ {
      h1 {
        font-size: 32px;
      }
    }
  }
}

// Large screens
@media (min-width: $bp-large) {
  .main > .vp-doc {
    .header-anchor {
      position: absolute;
      left: -28px;
      padding: 0 18px;
      transform: scale(0.94);
    }
  }

  .Layout > .VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width);

    .VPDoc.has-sidebar.has-aside {
      padding: 32px 16px 0;
    }
  }
}

// Extra large screens
@media (min-width: $bp-xlarge) {
  .Layout > .VPContent.has-sidebar {
    padding-right: 0;

    .VPDoc.has-sidebar.has-aside .container > .content {
      padding-left: 52px;
      padding-right: 52px;
    }
  }
}
