:root {
  --vp-sidebar-width: 380px;
}

// --------------------------------
// -- Top Nav

.VPNavBar {
  // Remove nav border
  border-bottom: none !important;

  // Remove extraneous fade elements
  .curtain {
    display: none;
  }

  // No content-body transition (background-color fix)
  .content-body {
    transition: none !important;
  }

  // Correct width on non-docs pages
  .container {
    max-width: unset;
  }

  // Size according to Sidebar width to limit zone affected by nav overlay
  &.has-sidebar {
    .title {
      padding-left: 0 !important;
    }

    .content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  // Restyle top NavBarMenu links
  .VPNavBarMenu {
    &.menu {
      height: calc(100% - 16px);

      a,
      div {
        font-size: 13px;
        margin: 0 4px;
        opacity: 0.8;
        transition-duration: 0.1s;
        transition-property: color, opacity, box-shadow;

        &:hover:not(.active) {
          opacity: 1;
          color: var(--vp-c-text-1);
        }
      }

      .VPNavBarMenuLink {
        &.active {
          color: var(--vp-c-text-1) !important;
          box-shadow: inset 0 -1px 0 0 var(--vp-c-brand);
          opacity: 1 !important;
        }
      }

      // Fix enormous line-height of navbar items
      .VPNavBarMenuLink,
      & .VPNavBarMenuGroup {
        min-height: var(--vp-nav-height-mobile);
        line-height: 1.32;
      }
    }
  }
}

// Correct max logo height in navbar title
.VPNavBarTitle img.logo {
  height: 20px;
  margin-inline-end: 12px;
}

// Move search away from logo
.VPNavBarSearch.search {
  justify-content: flex-end;
  margin-right: 32px;
}

.VPFlyout {
  display: flex;
  align-items: center;

  .item.social-links {
    place-content: center;
  }
}

// --------------------------------
// -- Sidebar Nav

// Use empty space in docs navs more effectively.
// Using existing default fallback styles where possible to negate calc()-type sizes.
.VPSidebar {
  --active-indicator-padding: 8px;
  --vp-new-padding: calc(16px - var(--active-indicator-padding));

  padding-left: var(--vp-new-padding) !important;
  padding-right: var(--vp-new-padding) !important;
  padding-bottom: 32px !important;
  width: calc(var(--vp-sidebar-width) + 0px) !important;

  &.open {
    max-width: 82vw !important;
  }

  #VPSidebarNav {
    &.nav {
      margin-top: 8px;
    }

    // These styles are to adjust spacing between groups.
    .group {
      padding-bottom: 8px;
      width: calc(var(--vp-sidebar-width) - 32px);
    }

    .group + .group {
      margin-top: 0px;
    }

    .VPLink {
      line-height: 1.1;

      // New link styles
      &.link {
        margin: 0;
        padding: 8px calc(var(--active-indicator-padding) - 8px) !important;
        transition-duration: 0.1s;
        transition-property: background-color;

        .text {
          padding: 0;
          font-size: 13px;
          line-height: 1.32;

          .VPSidebarItem.is-active > .item & {
            color: var(--vp-c-text-1) !important;
            font-weight: bold;
          }
        }

        &:hover .text {
          color: var(--vp-c-text-1) !important;
        }
      }
    }

    .VPSidebarItem {
      // Link section heading alignment
      .item .text {
        padding-left: 8px !important;
        color: var(--vp-c-text-2) !important;
      }

      // make active links and hovered links more visible
      .item:hover .text,
      &.is-active .text {
        color: var(--vp-c-text-1) !important;
      }

      // Smaller, quicker caret
      .caret {
        transform: scale(0.8);
      }
      .caret-icon {
        transition-duration: 0.16s !important;
      }

      // Customize sidebar main sections
      &.level-0 {
        padding-bottom: 10px !important;

        &.collapsed {
          padding: 0 !important;
        }

        &:not(.collapsed) > .item + .items {
          margin-block-start: 2px;
        }
      }

      // Customize top-level active link indicator but hide on not-active links
      &.level-1.is-link > .item {
        &::before {
          content: '';
          position: absolute;
          width: 3px;
          height: 100%;
          top: 0;
          left: -5px;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          background-color: var(--vp-c-brand-dark);
          // hide by default
          opacity: 0;
        }
      }

      // Customize top-level active links
      &.level-1.is-link.has-active > .item {
        position: relative;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: var(--vp-c-bg-alt);

        :root.dark & {
          background-color: var(--vp-c-bg);
        }

        // Show on active links
        &::before {
          opacity: 1;
        }

        // hide default active indicator
        .indicator {
          display: none;
        }
      }

      &.level-1,
      &.level-2,
      &.level-3,
      &.level-4,
      &.level-5 {
        &.has-active.collapsible,
        &.is-active {
          > .item > .indicator {
            width: 3px;
            left: -1px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }
        }

        // Indicator for collapsible sidebar groups that have active children
        &.has-active.collapsible {
          > .item > .indicator {
            background-color: var(--vp-c-brand-dark);
          }
        }

        // Indicator for active sidebar items
        &.is-active {
          > .item {
            background-color: var(--vp-c-bg);

            > .indicator {
              top: 0;
              height: 100%;
              width: 3px;
              background-color: var(--vp-c-brand);
            }
          }
        }
      }
    }
  }
}

// Large screens
@media (min-width: $bp-large) {
  :root {
    --vp-sidebar-width: 308px;
  }

  .VPNavBar {
    &.has-sidebar {
      .title {
        position: relative;
        font-size: 0.9rem;
        padding-left: 10px !important;
      }

      .content {
        padding-left: calc(var(--vp-sidebar-width) + 0px) !important;
        padding-right: 32px !important;
      }
    }

    .VPNavBarMenu {
      &.menu {
        .VPNavBarMenuLink,
        & .VPNavBarMenuGroup {
          min-height: var(--vp-nav-height-desktop);
        }
      }
    }
  }

  .VPSideBar {
    #VPSidebarNav {
      // Allow .VPLink to take up all horizontal space available
      .group {
        width: unset;
      }
    }
  }
}

// Extra large screens
@media (min-width: $bp-xlarge) {
  :root {
    --vp-sidebar-width: 360px;
  }

  .VPNavBar {
    &.has-sidebar {
      .title {
        font-size: 1rem;
        padding-left: 10px !important;
      }
    }
  }
}
