:root {
  --vp-sidebar-width: 380px;
  --vp-navbar-menu-height: calc(var(--vp-nav-height) - 16px);

  --box-shadow-navbar: 0 3px 3px -2px var(--vp-c-bg-alt);
}

// --------------------------------
// -- Top Nav

.Layout > .VPNav > .VPNavBar {
  // Remove nav border and use box shadow instead
  border-bottom: none;
  box-shadow: var(--box-shadow-navbar);

  // Correct width on non-docs pages
  .container {
    max-width: unset;
  }

  // Correct max logo height in navbar title
  .VPNavBarTitle img.logo {
    height: 20px;
    margin-inline-end: 12px;
  }

  // Move search away from logo
  .VPNavBarSearch.search {
    justify-content: flex-end;
    margin-right: 32px;
  }

  // Restyle top NavBarMenu links
  .VPNavBarMenu.menu {
    height: var(--vp-navbar-menu-height);

    a {
      font-size: 14px;
      margin: 0 4px;
      color: var(--vp-c-text-2);
      transition-duration: 0.1s;
      transition-property: color;

      &:hover:not(.active) {
        color: var(--vp-c-text-1);
      }
    }

    .VPNavBarMenuLink,
    .VPNavBarMenuGroup {
      &,
      .button {
        height: var(--vp-navbar-menu-height);
      }

      &.active {
        color: var(--vp-c-text-1);
        box-shadow: inset 0 -1px 0 0 var(--vp-c-brand);
      }
    }

    // Fix enormous line-height of navbar items
    .VPNavBarMenuLink,
    .VPNavBarMenuGroup {
      line-height: 1.32;
    }

    .VPFlyout {
      .text {
        color: var(--vp-c-text-2);
      }

      &:hover .text {
        color: var(--vp-c-text-1);
      }
    }
  }

  // Center social links in navbar extras flyout
  .VPNavBarExtra.VPFlyout {
    .item.social-links {
      place-content: center;
    }
  }
}

// --------------------------------
// -- Sidebar Nav

// Use empty space in docs navs more effectively.
// Using existing default fallback styles where possible to negate calc()-type sizes.
.Layout > .VPSidebar {
  --active-indicator-padding: 8px;
  --vp-new-padding: calc(24px - var(--active-indicator-padding));

  padding-left: var(--vp-new-padding);
  padding-right: var(--vp-new-padding);
  padding-bottom: 32px;
  width: var(--vp-sidebar-width);

  // make sure sidebar doesn't take up all horizontal screen space on mobile
  // so user can close mobile menu by clicking on empty space to the right
  &.open {
    max-width: min(var(--vp-sidebar-width), 85vw);
    padding-top: 24px;
  }

  #VPSidebarNav {
    margin-top: 0;

    // These styles are to adjust spacing between groups.
    .group {
      padding-bottom: 8px;
      width: calc(var(--vp-sidebar-width) - 32px);
    }

    .group + .group {
      margin-top: 0px;
    }

    .VPSidebarItem {
      // Style all links in the sidebar
      > .item > .VPLink.link {
        padding: 8px calc(var(--active-indicator-padding) / 2);
        transition-duration: 0.1s;
        transition-property: background-color;

        .text {
          padding: 0;
          padding-left: 12px;
          font-size: 13px;
          line-height: 1.32;
        }

        // Make hovered links more visible
        &:hover .text {
          color: var(--vp-c-text-1);
        }
      }

      // Link section heading alignment
      .item .text {
        padding-left: 14px;
        color: var(--vp-c-text-2);
      }

      // Make active links more visible
      &.is-active > .item > .VPLink.link .text {
        color: var(--vp-c-text-1);
      }

      // Smaller, quicker caret
      .caret {
        transform: scale(0.8);
      }
      .caret-icon {
        transition-duration: 0.16s;
      }

      // Customize sidebar main section dropdowns
      &.level-0 {
        padding-bottom: 10px;

        & > .item > .text {
          padding: 0;
          font-size: 16px;
        }

        // dropdown closed
        &.collapsible.collapsed {
          padding: 0;
        }

        // dropdown open
        &.collapsible:not(.collapsed) {
          & > .item[role='button'] {
            padding-bottom: 8px;
          }

          // give the items some space away from the dropdown heading
          & > .item + .items {
            margin-block-start: 4px;
          }
        }
      }

      // Customize top-level active links
      &.level-1.is-link.has-active > .item {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: var(--vp-c-bg-alt);

        :root.dark & {
          background-color: var(--vp-c-bg);
        }
      }

      &.level-1,
      &.level-2,
      &.level-3,
      &.level-4,
      &.level-5 {
        // dropdown open
        &.collapsible:not(.collapsed) {
          & > .item + .items {
            margin-block-start: 4px;
          }
        }

        // Indicator for active sidebar items
        &.is-active {
          > .item {
            background-color: var(--vp-c-bg);

            > .indicator {
              top: 0;
              bottom: 0;
              left: -1px;
              width: 3px;
              background-color: var(--vp-c-brand);
              border-top-left-radius: 2px;
              border-bottom-left-radius: 2px;
            }
          }
        }
      }
    }
  }
}

// Large screens
@media (min-width: $bp-large) {
  :root {
    --vp-sidebar-width: 308px;
  }

  .Layout > .VPNav > .VPNavBar {
    box-shadow: unset;

    .container > .title {
      // subtract scroll bar width to get max width, so no overlap with sidebar scrollbar
      max-width: calc(var(--vp-sidebar-width) - 12px);
      // remove default padding from outer .title container
      padding-left: 0;
      padding-right: 0;

      // Center align title text
      .VPNavBarTitle.has-sidebar .title {
        font-size: 0.9rem;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .container > .content {
      padding-left: var(--vp-sidebar-width);
      padding-right: 0;

      .content-body {
        padding-right: 32px;
        box-shadow: var(--box-shadow-navbar);
      }
    }
  }

  .Layout > .VPSidebar {
    #VPSidebarNav {
      margin-top: 16px;

      // Allow .VPLink to take up all horizontal space available
      .group {
        width: unset;
      }
    }
  }
}

// Extra large screens
@media (min-width: $bp-xlarge) {
  :root {
    --vp-sidebar-width: 360px;
  }

  .Layout > .VPNav > .VPNavBar {
    .container > .title {
      .VPNavBarTitle.has-sidebar .title {
        font-size: 1rem;
      }
    }
  }
}
