// scrollbar
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(166, 166, 166);
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgb(141, 141, 141);
  border-radius: 9999px;
  background-color: rgb(57, 57, 57);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(41, 41, 41);
}

// scrollbar dark mode
html.dark {
  ::-webkit-scrollbar-track {
    background: rgb(7, 11, 21);
  }

  ::-webkit-scrollbar-thumb {
    border-color: rgb(12, 14, 30);
    background-color: rgb(53, 53, 53);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(81, 81, 81);
  }
}
